<section class="container-fluid" id="hero">
  <div class="row">
    <div class="col-md-12">
      <div class='logo p-4'><img src="../../assets/images/logo.svg" class="img-fluid" alt="iOffice logo" /></div>
    </div>
    <div class="col-md-12 mt-4 text-center">
      <h1 class="title">iOffice People Directory</h1>
      <p class="subtitle">Search the box below to find an person</p>
      <div class="look-down"><span class="oi" data-glyph="arrow-circle-bottom"></span></div>
    </div>
  </div>
</section>