<!-- Hero -->
<app-hero title="iOffice People Directory" subtitle="Search the box below to find an person"></app-hero>
<section class="container p-5">
  <!-- Search Box -->
  <div class="row">
    <div class="col-md-12">
      <app-search-box [onSearchChange]="onSearchChange" [fetchUsers]="fetchUsers" [search]="search"></app-search-box>
    </div>
  </div>
  <!-- Filters-->
  <div class="row">
    <div class="col-md-12">
      <app-search-filters [fetchUsers]="fetchUsers" [onLimitChange]="onLimitChange" [onOrderByChange]="onOrderByChange"
        [onOrderByTypeChange]="onOrderByTypeChange" [limit]="limit" [orderBy]="orderBy" [orderByType]="orderByType"
        [isCollapsed]="true" [clearFilters]="clearFilters"></app-search-filters>
    </div>
  </div>
  <!-- Pagination -->
  <app-pagination [onStartAtChange]="onStartAtChange" [startAt]="startAt" [limit]="limit" [fetchUsers]="fetchUsers">
  </app-pagination>
  <!-- List users-->
  <app-loading *ngIf="loading else listusers" loadingMessage="Fetching users..."></app-loading>
  <ng-template #listusers>
    <!-- List items -->
    <div class="row">
      <app-list-user-item class='col-md-6' *ngFor="let user of users" [user]="user"></app-list-user-item>
    </div>
  </ng-template>
</section>